.todoButton__submit {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  color: black;
  font-size: 1.5rem;
  padding: 13px 15px;
  border: none;
  border-radius: 5px;
}

.todoButton__submit[type=button]:first-of-type {
  margin: 0px;
  display: inline-block;
}

.todoButton__submit:hover {
  background-color: rgb(240, 240, 155);
}

.todoButton__submit[disabled]{
  color: gray;
}
